Package: youtube-get2
Maintainer: fredx181 
Architecture: all
Version: 0.2.0
Installed-Size: 938 
Depends: libc6, yad, sed, wget, python, gsu | gksu
Recommends: locales
Replaces: youtube-get
Description: YouTube Downloader, frontend for youtube-dl
 A Youtube update broke the search function of previous versions; fixed in this version.
 - A shell script (bash) with yad as GUI for youtube-dl
 - Options to enter url(s), playlist, username and to do a search:
 - Gives choice which quality to download, e.g. 360p or 720p, Audio streams, etc...
 - Extra addition: m-play script + menu entry for playing YouTube url with mplayer or mpv
 - Download from Playlist supports channel download also now (version 0.1.8)









