Package: picdrop
Priority: optional
Section: utilities
Installed-Size: 247
Maintainer: root
Architecture: amd64
Version: 1.0.0
Depends: libc6, mediainfo, libglib2.0-0, libgtk2.0-0
Description: Picdrop, resize images, by Terry (sunburnt)













