[Desktop Entry]
Version=1.0
Type=Application
Name=Play with mplayer
Comment=Play a video file or YouTube url with mplayer or mpv
Exec=m-play
Icon=mplayer
Path=
Categories=AudioVideo;Audio;Video;Player;TV;
Terminal=false
StartupNotify=false
